.cid-tJS6uM4N87 {
  padding-top: 11rem !important;
}

.cid-tJS6tZXiPa .navbar .navbar-logo img {
  height: 6rem !important;
  width: auto;
}

.cid-tJS6tZXiPa .navbar-brand .navbar-caption {
  line-height: 1.25 !important;
  color: #04488e !important;
}

.cid-tJS6uM4N87 .mbr-section-title {
  line-height: 1.15 !important;
}

.cid-tJS6uM4N87 .mbr-text,
.cid-tJS6uM4N87 .mbr-section-btn {
  color: #e7bb2d !important;
}

.cid-tJS6tZXiPa .navbar-nav .nav-item .nav-link {
  font-weight: 600;
}

.cid-tJS6tZXiPa .navbar-nav .nav-item .nav-link {
  color: #c21531 !important;
}

.cid-uPiqQnlNoT .mbr-section-title {
  color: #c21531 !important;
}

.cid-uPHsiCkd6u {
  padding-bottom: 0 !important;
}

.cid-uPHJAjx08K {
  padding-top: 0 !important;
}

.cid-uPHsiCkd6u .mbr-section-title, .cid-uPHJAjx08K .mbr-section-title {
  line-height: 1.15 !important;
  color: #c21531 !important;
}

.cid-tMlDYtQ5fF H3, .cid-tMlDYtQ5fF H4 {
  line-height: 1.4 !important;
}

.text-warning {
  color: #c21531 !important;
}

@media (max-width: 767px) {
  .cid-tJS6uM4N87 {
    padding-top: 7rem !important;
  }
  .cid-tJS6tZXiPa .navbar .navbar-logo img {
    height: 4.5rem !important;
  }
  .cid-tJS6tZXiPa .container {
    padding-top: 2.2rem !important;
    padding-bottom: 2.2rem !important;
  }
  .cid-tJS6uM4N87 .mbr-section-title {
    line-height: 1.3 !important;
  }
  .cid-tJS9NNcTLZ {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  .cid-uPHsiCkd6u .row {
    padding-top: 0 !important;
  }
  .cid-uPHJAjx08K .row {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  .cid-uPHsiCkd6u .image-wrapper {
    padding: 0 !important;
  }
}
